<h1>お店を追加する</h1>

<%= render 'form', restaurant: @restaurant %>

<tbody>
    <% @restaurants.each do |restaurant| %>
      <div>
        <tr>
          <td><%= restaurant.name %></td>
          <td><%= link_to 'Show', restaurant %></td>
          <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
          <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      </div>
    <% end %>
  </tbody>

<%= link_to 'Back', restaurants_path %>
